@model TraineeTracker.MVC.Utils.PaginatedList<TrackerListVM>

@{
    ViewData["Title"] = "Tracker";

    var prevDisabled = !Model.HasPreviousPage ? "disabled text-white-50" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled text-white-50" : "";

    int next = Model.PageIndex + 1;
    int prev = Model.PageIndex - 1;

    var filter = (string[])ViewData["Filter"];

    var isFilterSkilled = filter.Contains("Skilled");
    var isFilterPartialSkill = filter.Contains("Partially Skilled");
    var isFilterLowSkill = filter.Contains("Low Skilled");
    var isFilterUnskilled = filter.Contains("Unskilled");
}

<nav class="navbar justify-content-center gap-5 spartapink p-0">
    <form id="searchForm" class="mx-2" role="search">
        <div class="input-group">
            <input class="search-input" onkeypress="handleSearch(event)" name="searchString" value="@ViewData["Search"]" type="search" placeholder="Search" aria-label="Search" aria-describedby="addon">
            <input name="pageNumber" value="@Model.PageIndex" hidden />
            <input name="sortOrder" value="@ViewData["Sort"]" hidden />
        </div>
    </form>
    <ul class="list-unstyled d-flex gap-3 w-25 justify-content-center m-0">
        <li class="@prevDisabled"><a class="page-link" href="@Url.Page("", new {sortOrder = ViewData["Sort"], searchString = ViewData["Search"], pageNumber = prev, filter = filter})"><i class="bi bi-caret-left-fill"></i></a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link @(i == Model.PageIndex ? "text-white": "text-white-50")" href="@Url.Page("", new {sortOrder = ViewData["Sort"], searchString = ViewData["Search"], pageNumber = i, filter = filter})">@i</a></li>
        }
        <li class="@nextDisabled"><a class="page-link" href="@Url.Page("", new {sortOrder = ViewData["Sort"], searchString = ViewData["Search"], pageNumber = next, filter = filter})"><i class="bi bi-caret-right-fill"></i></a></li>
    </ul>

    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </a>

            <ul class="dropdown-menu">
                <form id="filterForm" asp-action="Trainer" method="get">
                <li>
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="@isFilterSkilled" name="filter" value="Skilled" id="skilled"
                                   onchange="document.getElementById('filterForm').submit()" />
                            <label class="form-check-label" for="skilled">Skilled</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="@isFilterPartialSkill" name="filter" value="Partially Skilled" id="partial"
                                   onchange="document.getElementById('filterForm').submit()" />
                            <label class="form-check-label" for="partial">Partially Skilled</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="@isFilterLowSkill" name="filter" value="Low Skilled" id="low"
                                   onchange="document.getElementById('filterForm').submit()" />
                            <label class="form-check-label" for="low">Low Skilled</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="@isFilterUnskilled" name="filter" value="Unskilled" id="unskilled"
                                   onchange="document.getElementById('filterForm').submit()" />
                            <label class="form-check-label" for="unskilled">Unskilled</label>
                        </div>
                    </div>
                </li>
                <input name="pageNumber" value="@Model.PageIndex" hidden />
                <input name="sortOrder" value="@ViewData["Sort"]" hidden />
                <input name="searchString" value="@ViewData["Search"]" hidden />
                </form>
            </ul>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort By
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "firstname" ? "active": "")" href="@Url.Page("", new {sortOrder = "firstname", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">First Name</a></li>
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "lastname" ? "active": "")" href="@Url.Page("", new {sortOrder = "lastname", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">Last Name</a></li>
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "id" ? "active": "")" href="@Url.Page("", new {sortOrder = "id", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">Id</a></li>
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "technical" ? "active": "")" href="@Url.Page("", new {sortOrder = "technical", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">Technical Skill</a></li>
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "consultant" ? "active": "")" href="@Url.Page("", new {sortOrder = "consultant", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">Consultant Skill</a></li>
                <li><a class="dropdown-item @((string)ViewData["Sort"] == "date" ? "active": "")" href="@Url.Page("", new {sortOrder = "date", searchString = ViewData["Search"], pageNumber = Model.PageIndex, filter = filter})">Start Date</a></li>
            </ul>
        </li>
    </ul>

</nav>

<table class="table table-hover w-100">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Continue</th>
            <th>Technical Skill</th>
            <th>Consultant Skill</th>
            <th>Owned By</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            string TechnicalSkillColour;
            string ConsultantSkillColour;

            if (user.TechnicalSkill == "Skilled")
                TechnicalSkillColour = "text-bg-success";
            else if (user.TechnicalSkill == "Partially Skilled")
                TechnicalSkillColour = "text-bg-primary";
            else if (user.TechnicalSkill == "Low Skilled")
                TechnicalSkillColour = "text-bg-warning";
            else
                TechnicalSkillColour = "text-bg-danger";

            if (user.ConsultantSkill == "Skilled")
                ConsultantSkillColour = "text-bg-success";
            else if (user.ConsultantSkill == "Partially Skilled")
                ConsultantSkillColour = "text-bg-primary";
            else if (user.ConsultantSkill == "Low Skilled")
                ConsultantSkillColour = "text-bg-warning";
            else
                ConsultantSkillColour = "text-bg-danger";

            <tr>
                <td>@user.Id</td>
                <td>@user.StartDate.ToShortDateString()</td>
                <td>@user.Start</td>
                <td>@user.Stop</td>
                <td>@user.Continue</td>
                <td><span class="badge rounded-pill @TechnicalSkillColour">@user.TechnicalSkill</span></td>
                <td><span class="badge rounded-pill @ConsultantSkillColour">@user.ConsultantSkill</span></td>
                <td>@user.Trainee.FirstName @user.Trainee.LastName</td>
                
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <div id="loader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="~/js/tabs.js"></script>

@section Scripts{
    <script>
        function handleSearch(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                document.getElementById('searchForm').submit();
            }
        }
        
        $(window).on('load', function () {
            $('#loader').hide();
        });
 
    </script>
}
