@model CreateAnswerVM
@using TraineeTracker.MVC.Services.Base

@{
    int i = 0;
}

<form id="AnswerForm" asp-action="CreateAnswer" asp-route-category="@ViewData["Category"]" asp-route-q="@ViewData["nextQuestion"]" asp-route-total="@ViewData["Count"]" asp-route-count="@ViewData["AnswerCount"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="QuestionId" value="@Model.QuestionId" hidden />
    @foreach (var option in (ICollection<OptionDto>)ViewData["Options"])
    {
        <div class="form-check my-2">
            @if ((int)ViewData["AnswerCount"] > 1)
            {
                <input class="form-check-input" asp-for="Answers[i]" value="@option.Value" type="checkbox" />
            }
            else
            {
                <input class="form-check-input" asp-for="Answers" value="@option.Value" type="radio">
            }
            <label class="form-check-label" asp-for="Answers[i]">
                @option.Value
            </label>
        </div>
        i++;
    }
    <input type="submit" class="btn btn-primary mt-4" value="Submit" />
</form>