@model QuestionVM

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-lg">
                @for(int i = 1; i <= Model.Count; i++)
                {
                    string active = i == Model.Index ? "active" : "";
                    <li class="page-item @active"><a class="page-link" asp-action="Category" asp-route-category="@Context.Request.RouteValues["category"]" asp-route-q="@i">@i</a></li>
                }
            </ul>

            <h2>@Model.Index @Model.Question.Value</h2>
            @foreach(var option in Model.Question.Options)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        @option.Value
                    </label>
                </div>
            }
        </div>
    </div>
</div>